<div class="container">
  <div class="row">
    <div class="header-title">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2>My reservations</h2>
      <div class="cards-dashboard d-flex justify-content-around ">
        <% @reservations.each do  |reservation|%>
          <div class="col-4 m-3 card-trip-image-dashboard " style="background-image: url(<%=reservation.game.picture_url%>)"">
            <div class="card-trip-dashboard-infos">
              <%  fulldate = reservation.game.date %>
              <H1><%= fulldate.strftime("%d %B %Y")  %></H1>
              <H2><%= reservation.game.address %></H2>
              <p><%= reservation.game.city %></p>
              <div class="card-dashboard-footer">
                <%=link_to 'More info', reservation.game, class: "nav-item px-1" %>
                <%=link_to 'Cancel', reservation_path(reservation),  method: :delete, data: { confirm: "Are you sure?" }, class: "nav-item px-1" %>
              </div>
            </div>
            <div class="card-status">
              <% if reservation.status == "pending" %>
                <h3 class="pending">Status: <%= reservation.status %></h3>
              <% elsif reservation.status == "accepted" %>
                <h3 class="accepted">Status: <%= reservation.status %></h3>
              <% elsif reservation.status == "rejected" %>
                <h3 class="rejected">Status: <%= reservation.status %></h3>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="row">
      <h2>My created games</h2>
      <div class="cards-dashboard d-flex justify-content-around">
        <% @games.each do  |createdgame|%>
          <div class="card-trip-image-dashboard col-3 m-3" style="background-image: url(<%=createdgame.picture_url%>)"">
            <div class="card-trip-dashboard-infos">
              <h1><%= createdgame.date %></h1>
              <H2><%= createdgame.address %></H2>
              <p><%= createdgame.city %></p>
              <div class="card-dashboard-footer">
                <%=link_to 'More info', game_path(createdgame), class: "nav-item px-1" %>
              </div>
            </div>
          </div>
        <% end %>
        </div>

    </div>
  </div>
</div>
