<%= link_to "Find a game", new_game_path, class: "find-my-game" %>
<% i = 0 %>
<% @games.each do |game| %>
<h3> Game number: <%= i += 1%></h3>
<h3> Date of the game: <%= game.date %></h3>
<h3>Adress of the game: <%= game.address %></h3>
<h3>City of the game: <%= game.city %></h3>
<h3>---------------------------------</h3>
<% end %>
