<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.street-tease.com/uploads/frais/2332/600-1.jpg);">
  <div class="header-title">
    <h1>Find here all the games that are looking for a player</h1>
  </div>
</div>


<div class="container">


<div class="main-container d-flex">
  <div class="row">
    <% @games.each do |game| %>
      <div class="main-card col-4">
        <%=link_to game_path(game) do %>
          <div class="card-trip-image m-3" style="background-image: url(<%=game.picture_url%>)">
            <div class="card-trip-info">
              <H2><%= game.city %></H2>
              <%  fulldate = game.date %>
              <p><%= fulldate.strftime("%d %B %Y")  %></p>
              <p><%= game.address %></p>
              <H1>More Details</H1>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
