<div class="container">
  <h1 class="header-title"> CREATE A GAME </h1>
  <div class="form">
    <%= simple_form_for(@game) do |f| %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :date, as: :date, html5: true %>
  <%# Add <% f.submit class: "create-game-button" %>
    <div class="buttons">
      <%= f.submit class:"create-game-button" %>
      <%= link_to "Return to home page", root_path, class: "home-button" %>
    </div>
  <% end %>
  </div>
</div>
