<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="header-title">About the game</h1>
      <div class="show-container">
          <div class="image">
            <img src="<%= @game.picture_url %>">
          </div>
          <div class="adress">
            <h2>Adress :</h2>
            <h3><%= @game.address %></h2>
            <h3><%= @game.city %></h3>
          </div>
          <div class="show-date">
            <h2>Date :</h2>
            <h3><%= @game.date %></h3>
          </div>

      </div>
    </div>
    <div class="col-4">
      <div class="sidebar">
        <h2 class="header-title">Action Control</h2>
        <div class="controls">
          <i class="me-2"><%= link_to "Back ",root_path %></i>
          <i class="me-2"><%= link_to "Edit ",edit_game_path %></i>
          <%# <i class="me-2"><%= link_to "Delete", game_path(@game),
              method: :delete,
              data: {confirm: "Are you sure?"},
              class: "nav-item px-1 text-danger"
            %>
        </div>
      </div>
    </div>
  </div>

</div>
