<div class="container">
  <div class="row">
    <div>
      <h1 class="header-title">About the game</h1>
      <div class="show-container">
          <img src="<%= @game.picture_url %>">
          <div class="infos">
            <div class="adress">
              <div class="adress-icon">
                <h3>📍</h3>
              </div>
              <div class="adress-content">
                <p><%= @game.address %></p>
                <p><%= @game.city %></p>
                <% if  current_player == @game.creator%>
                  <p><strong>Created by you</strong></p>
                <% else %>
                  <p>With: <strong><%="#{@game.creator.name} #{@game.creator.last_name}"%></strong></p>
                  <p>Contact: <%= "#{@game.creator.email}"%></p>
                  <p>Experience: <%="#{@game.creator.years}"%> years</p>
                  <p>Age: <%="#{@game.creator.age}"%></p>
                <% end %>

              </div>
            </div>
            <div class="show-date">
              <div class="date-icon">
                <h3>📅</h3>
              </div>
              <div class="date-content">
                <p><%= @game.date %></p>
              </div>
            </div>
          </div>
      </div>

      <div class="controls">
          <%= link_to "⬅️ Back ",root_path %>
          <% if current_player == @game.creator %>
             <%= link_to "✒️ Edit ",edit_game_path %>
             <%= link_to "✒️Delete", game_path(@game),
              method: :delete,
              data: {confirm: "Are you sure?"},
              class: "nav-item px-1"
            %>
          <% end %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-8">
      <% if  current_player == @game.creator%>
      <h2>Interested people</h2>
      <% @reservations.each do |reservation| %>
        <% player = Player.find(reservation.player_id) %>
        <div class="card">
          <div class="card-product-infos">
            <h2><%= player.name %> <%= player.last_name %></h2>
            <h2><%= player.email %></h2>
            <p>Age: <%=player.age%> | Expirence: <%=player.years%></p>
            <p><%= reservation.message %></p>
          </div>
          <div class="nav" data-controller="reservation">
            <% if reservation.accepted? %>
              <h2>Reservation accepted</h2>
            <% elsif reservation.rejected? %>
                <p><strong>Sorry bro, you have been ditched!</strong></p>
            <% else %>
              <li ><%=link_to 'Accept', reservation_path(reservation, status: :accepted), method: :patch ,  class: "nav-item px-1" %></li>
              <li><%=link_to 'Cancel', reservation_path(reservation, status: :rejected),  method: :patch, data: { confirm: "Are you sure?" }, class: "nav-item px-1" %></li>
            <% end %>

          </div>
        </div>
        <% end %>
      <% else %>
    <h2>here the map</h2>
     <% end %>
  </div>

  <div class="col-4">
    <% if  current_player != @game.creator%>
      <h2>Do you want to play ?</h2>
      <%= simple_form_for [@game, @reservation] do |f| %>
        <%= f.input :message, placeholder: "Message your rival" %>
        <%= f.submit "Let's ball", class: "btn btn-primary" %>
        <% end %>
    <% end %>


  </div>

</div>
